<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <Html>
<head>
<title>
Registration Page
</title>
</head>
<body bgcolor="Lightskyblue">
<br>
<br>
<form>
  <div class="container">
    <center><h1>Login</h1>
      </div>

<label> Username: </label>
<input type="text" name="username" size="15"/> <br> <br>

Password:
<input type="Password" id="pass" name="pass"> <br>
<br> 
<button type="submit" class="registration">login </button>
</form>
</body>
</html>
  </body>
</html>
